.problem {
  $margin: calc(var(--fontsize) * 1.5);
  display: inline-block;
  font-size: var(--fontsize);
  margin: $margin $margin $margin 0;

  @media print {
    & {
      color: black;
    }
  }

  span {
    display: inline-block;
    text-align: center;
    width: calc(var(--fontsize) * 1.7);
    height: var(--fontsize);
  }
}

.problem-content {
  display: flex;
  justify-content: center;
}

.answer {
  font-size: var(--fontsize);
  background: none;
  border: none;
  border-bottom: solid 1px white;
  outline: none;
  width: calc(var(--fontsize) * 2.5);
  color: white;

  @media print {
    & {
      border-color: black;
      color: black;
    }
  }
}

.is-correct {
  color: red;
  width: calc(var(--fontsize) * 2);
  font-weight: bold;
}

.correct {
  color: green;
}
