<div class="container" [ngStyle]="{ '--fontsize.px': fontSize() }">
  <div class="header">
    @if(showSettings()) {
    <button mat-flat-button (click)="generate()" [disabled]="!allowGenerate()">
      Generate
    </button>
    } @else {
    <button
      mat-button
      (click)="handleShowSettings()"
      [disabled]="!allowGenerate()"
    >
      Settings
    </button>
    }
    <mat-form-field>
      <mat-label>Font Size</mat-label>
      <input
        matInput
        type="number"
        min="12"
        [value]="fontSize()"
        (input)="changeFontSize($event)"
      />
    </mat-form-field>
  </div>

  @if (showSettings()) {
  <mat-form-field>
    <mat-label>Number of Problems</mat-label>
    <input
      matInput
      type="number"
      min="1"
      [value]="numProblems()"
      (input)="setMaxValSignal($event, numProblems)"
    />
  </mat-form-field>
  <table class="settings">
    <tr>
      <td class="checkbox-cell">
        <mat-checkbox
          class="settings-checkbox"
          [checked]="includeAddition()"
          (change)="includeAddition.set($event.checked)"
        >
          Addition
        </mat-checkbox>
      </td>
      <td>
        @if (includeAddition()) {
        <mat-form-field>
          <mat-label>Max</mat-label>
          <input
            matInput
            type="number"
            min="1"
            [value]="maxAddition()"
            (input)="setMaxValSignal($event, maxAddition)"
          />
        </mat-form-field>
        }
      </td>
    </tr>
    <tr>
      <td class="checkbox-cell">
        <mat-checkbox
          class="settings-checkbox"
          [checked]="includeSubtraction()"
          (change)="includeSubtraction.set($event.checked)"
        >
          Subtraction
        </mat-checkbox>
      </td>
      <td>
        @if (includeSubtraction()) {
        <mat-form-field>
          <mat-label>Max</mat-label>
          <input
            matInput
            type="number"
            min="1"
            [value]="maxSubtraction()"
            (input)="setMaxValSignal($event, maxSubtraction)"
          />
        </mat-form-field>
        }
      </td>
    </tr>
    <tr>
      <td class="checkbox-cell">
        <mat-checkbox
          class="settings-checkbox"
          [checked]="includeMultiplication()"
          (change)="includeMultiplication.set($event.checked)"
        >
          Multiplication
        </mat-checkbox>
      </td>
      <td>
        @if (includeMultiplication()) {
        <mat-form-field>
          <mat-label>Max</mat-label>
          <input
            matInput
            type="number"
            min="1"
            [value]="maxMultiplication()"
            (input)="setMaxValSignal($event, maxMultiplication)"
          />
        </mat-form-field>
        }
      </td>
    </tr>
    <tr>
      <td class="checkbox-cell">
        <mat-checkbox
          class="settings-checkbox"
          [checked]="includeDivision()"
          (change)="includeDivision.set($event.checked)"
        >
          Division
        </mat-checkbox>
      </td>
      <td>
        @if (includeDivision()) {
        <mat-form-field>
          <mat-label>Max</mat-label>
          <input
            matInput
            type="number"
            min="1"
            [value]="maxDivision()"
            (input)="setMaxValSignal($event, maxDivision)"
          />
        </mat-form-field>
        }
      </td>
    </tr>
  </table>
  } @else {
  <div class="worksheet">
    @for(problem of problems(); track problem.track) {
    <problem [problem]="problem" (hasCorrectSolution)="hasCorrectSolution($event, $index)"></problem>
    }
  </div>
  }
</div>

@if (gotThemAllRight()) {
<div class="congratulations">
  <div class="congratulations-content">
    <h1>Congratulations!</h1>
    <p>You got them all right!</p>
  </div>
</div>
}
